<div class="row">
    <div class="large-12 columns">
    <h1>Create a Task<h1>
    <%= link_to 'New Task', new_task_path ,:class =>"button"%>
    </div>
    <div class="large-6 columns">
    <h2>Expired</h2>
    <hr>
    <% @expired_tasks.each do |task| %>
    
    <h3><%= task.title %></h3>
        <h4>by:<%= task.user.username %><h4>
        <p>End date: <%= task.end_date %><p>
        <%= link_to 'Show', task_path(task),:class =>"button small" %>
        <%= link_to 'Delete', task_path(task), data: { confirm: "Are you sure?" }, method: :delete,:class =>"button small alert" %>
   <% end %></div>
  <div class="large-6 columns">
    <h2>Not Finished</h2>
    <hr>
    <% @notdone_tasks.each do |task| %>
    <h3><%= task.title %></h3>
        <h4>by:<%= task.user.username %><h4>
        <p>End date: <%= task.end_date %><p>
        <%= link_to 'Show', task_path(task),:class =>"button small" %>
        <%= link_to 'Delete', task_path(task), data: { confirm: "Are you sure?" }, method: :delete,:class =>"button small alert" %>
   <% end %>
    
    </div>
  <div class="large-12 columns">
    <h2>Finished</h2>
    <hr>
    <% @done_tasks.each do |task| %>
     <div class="large-6 columns">
        <h3><%= task.title %></h3>
        <h4>by:<%= task.user.username %><h4>
        <p>End date: <%= task.end_date %><p>
        <%= link_to 'Show', task_path(task),:class =>"button small" %>
        <%= link_to 'Delete', task_path(task), data: { confirm: "Are you sure?" }, method: :delete,:class =>"button small alert" %>
     </div>   
   <% end %></div>
  
</div>
